[submodule "vendor/mustache"]
	path = vendor/mustache
	url = git://github.com/janl/mustache.js.git
[submodule "vendor/handlebars"]
	path = vendor/handlebars
	url = git://github.com/wycats/handlebars.js.git
